.Header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: black;
}



.Header div a{
    color: white;
    text-decoration: none;
}